@{
    ViewData["Title"] = "Arrendatario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Arrendatarios</h2>

@(Html.DevExtreme().DataGrid<ProyectoF_FabioCalix_CristopherFlores.Models.Arrendatario>()
    .DataSource(ds => ds.WebApi()
        .Controller("Arrendatario")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.fechaNacimiento);

        columns.AddFor(m => m.id);

        columns.AddFor(m => m.dni);

        columns.AddFor(m => m.nombres);

        columns.AddFor(m => m.apellidos);

        columns.AddFor(m => m.telefono);

        columns.AddFor(m => m.email);
    })
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(true))
    .Scrolling(s => s.Mode(GridScrollingMode.Virtual))
    .Width("100%")
    .Height(600)
    .ShowBorders(true)
    .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)
