@{
    ViewData["Title"] = "Empleado_Mantenimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleado_Mantenimiento</h2>

@(Html.DevExtreme().DataGrid<ProyectoF_FabioCalix_CristopherFlores.Models.Empleado_Mantenimiento>()
    .DataSource(ds => ds.WebApi()
        .Controller("Empleado_Mantenimiento")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.EspecialidadesDB);

        columns.AddFor(m => m.sueldo);

        columns.AddFor(m => m.fechaContratacion);

        columns.AddFor(m => m.estado);

        columns.AddFor(m => m.id);

        columns.AddFor(m => m.dni);

        columns.AddFor(m => m.nombres);

        columns.AddFor(m => m.apellidos);

        columns.AddFor(m => m.telefono);

        columns.AddFor(m => m.email);
    })
    .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)
