@{
    ViewData["Title"] = "Garante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Garante</h2>

@(Html.DevExtreme().DataGrid<ProyectoF_FabioCalix_CristopherFlores.Models.Garante>()
    .DataSource(ds => ds.WebApi()
        .Controller("Garante")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.docAval);

        columns.AddFor(m => m.emisionDoc);

        columns.AddFor(m => m.IdArrendatario);

        columns.AddFor(m => m.id);

        columns.AddFor(m => m.dni);

        columns.AddFor(m => m.nombres);

        columns.AddFor(m => m.apellidos);

        columns.AddFor(m => m.telefono);

        columns.AddFor(m => m.email);
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)
