@{
    ViewData["Title"] = "Queja_Solicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quejas y Solicitudes</h2>

@(Html.DevExtreme().DataGrid<ProyectoF_FabioCalix_CristopherFlores.Models.Queja_Solicitud>()
    .DataSource(ds => ds.WebApi()
        .Controller("Queja_Solicitud")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("id")
    )
    .RemoteOperations(true)
    .GroupPanel(gp => gp.Visible(true))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(h => h.Visible(true))
    .SearchPanel(s => s.Visible(true).HighlightCaseSensitive(true))
    .Columns(columns => {

        columns.AddFor(m => m.id)
        .AllowEditing(false)
        .Visible(false);

        columns.Add().Caption("Dirección Apartamento")
            .CalculateCellValue(@<text>function(data) {
                return data.Apartamento?.Direccion || "";
            }</text>);

        columns.AddFor(m => m.Descripcion).AllowEditing(false);

        columns.AddFor(m => m.Estado)
        .Caption("Estado")
        .CellTemplate(
            new JS(@"function(container, options) {
                var text = options.value ? 'Revisado' : 'Pendiente';
                container.text(text);
            }")
        );
    }).Editing(e => e
    .AllowUpdating(true)
    .AllowDeleting(true)
    )
)
