@{
    ViewData["Title"] = "Queja_Solicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quejas y Solicitudes</h2>

@(Html.DevExtreme().DataGrid<ProyectoF_FabioCalix_CristopherFlores.Models.Queja_Solicitud>()
    .DataSource(ds => ds.WebApi()
        .Controller("Queja_Solicitud")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.id);

        columns.AddFor(m => m.IdApartamento);

        columns.AddFor(m => m.Descripcion);

        columns.AddFor(m => m.Estado);
    })
    .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)
