@(Html.DevExtreme().DataGrid<ProyectoF_FabioCalix_CristopherFlores.Models.Pago>()
    .DataSource(ds => ds.WebApi()
        .Controller("Pago")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.id).AllowEditing(false);

        columns.Add()
            .Caption("Arrendatario")
            .CellTemplate(@<text>
                <span><%- data.contrato?.arrendatario?.nombres %> <%- data.contrato?.arrendatario?.apellidos %></span>
            </text>);

        columns.AddFor(m => m.fechaPago)
            .Caption("Fecha de Pago")
            .DataType(GridColumnDataType.Date);

        columns.AddFor(m => m.Monto)
            .Caption("Monto");

        columns.AddFor(m => m.estado)
            .Caption("Estado")
            .CellTemplate(
                new JS(@"function(container, options) {
                    var text = options.value ? 'Pendiente' : 'En Proceso';
                    container.text(text);
                }")
            );
    })
    .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)
